{{#partial "content"}}

    <hr noshade>
 <h2>Our Makers</h2>
<hr noshade>
    <br>

    <div class="container-fluid">
        <div class="row buffer"></div>
        <div class="row"><h2>Our Makers</h2></div>

        <div class="row">

        {{#if allSellers }}
            {{#each allSellers }}
                <div class="gallery">
                    <h2>{{ name }}</h2>
                    <a target="/sellers/{{ id }}"><img src="{{ image }}" width="600" height="400"></a>
                    <div class="desc">{{ name }}</div>
                </div>
            {{/each}}
        {{else}}
            <h2>No sellers have registered stores! Shoot.</h2>
        {{/if }}

    <hr noshade>
    <br><h2>Shop By Item</h2>
    <hr noshade>
        <div class="row">
            <br>

        </div>
        <div class="row">
        {{#if allItems }}
            {{#each allItems }}
                <div class="gallery">
                    <a target="/items/{{ id }}"><img src="{{ image }}" width="600" height="400"></a>
                    <div class="desc">{{ itemName }}</div>
                </div>
            {{/each}}
        {{else}}
            <h2>No items to display!</h2>
        {{/if }}
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<script>
    var images = ['bread2.png', 'baguette.png', 'hotcross.png'];

    var usedimages = []

    $('<img class="fade-in" src="images/' + images[Math.floor(Math.random() * images.length)] + '">').appendTo('.gallery');


</script>

{{/partial}}

{{> layout.hbs}}