{{#partial "content"}}


    <u>Here is your seller profile:</u>
    <ul>
        <p> {{seller.name}}</p>
        <p> {{seller.address}}</p>
        <p> {{seller.email}}</p>
        <p> {{seller.dietaryPreference}}</p>
        <p> {{seller.goodsCategory}}</p>
    </ul>
    <hr noshade>

    <p><a href="/items/new">Add a Salivatingly Scrumptous Creation</a></p>
    <p><a href="/sellerportal/{{seller.id}}/update">Edit this profile</a></p>
    <p><a href="/sellerportal/{{seller.id}}/delete">DELETE this profile (no undo)</a></p>
    <hr noshade>
{{/partial}}

{{> layout.hbs}}